replicaCount: 1

image:
  pullPolicy: IfNotPresent

resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "500m"

pgvector:
  enabled: true
  host: ""
  port: 5432
  batchSize: 100
  password: ""
  postgresql:
    database: "postgres"
    username: "postgres"